---
layout: default
title: home
---
<section class="row justify-content-center align-items-center" id="hero">

  <div class="col-md-6 col-lg-5 bg-danger py-3 px-5 d-flex flex-column align-items-center ">

    <h1 class="text-uppercase text-primary text-center">for all your hvac <br />supply needs.</h1>

    <a href="/about/" class="btn btn-lg btn-outline-primary">about us</a>

  </div>

</section>

<section class="row" id="services">

  <div class="col-md-12 d-flex justify-content-center align-items-center mb-5" id="services-header">

    <div class="col-md-8 text-center">

      <h2 class="text-white">Commercial, Light Industrial<br /> and Residential</h2>

    </div>

  </div>

  {% include serviceCard.html %}

  <div class="col-md-12 my-5 text-center">

    <a href="/products/" class="btn btn-lg btn-outline-primary">our product lines</a>

  </div>

</section>

<section class="row" id="fabrication">

  <div class="col-md-12 d-flex justify-content-center align-items-center mb-5" id="fabrication-header">

    <div class="col-md-8 text-center">

      <h2 class="text-white">Custom Fabrication</h2>

    </div>

  </div>

  <div class="col-md-8 offset-md-2 text-center">

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac placerat ligula. Duis a purus vitae nibh varius dignissim. Etiam sagittis at est eget consequat. Aenean non orci lorem. Donec ut nibh vitae diam dictum vulputate. Praesent dui ligula, consequat id accumsan at, accumsan et nisl. In sed interdum ligula. Aenean accumsan est sit amet quam consectetur elementum. Nunc ultrices nibh ut turpis convallis pretium.
    </p>

    <h4 class="mt-5">Integer mollis bibendum malesuada.</h4>

    <a href="/contact/" class="btn btn-lg btn-outline-primary my-5">contact us</a>

  </div>

  <div class="col-md-10 offset-md-1 text-center">

    {% include lightboxGallery.html %}

  </div>

</section>
