---
layout: default
title: Home
---
<section class="row justify-content-center align-items-center" id="hero">

  <div class="col-md-10 col-lg-8 d-flex flex-column" id="inner-hero">

    <h1 class="text-secondary"><strong>As a family owned business, we are proud to continue the tradition of providing HVAC supplies and quality sheet metal fabrication.</strong></h1>

    <ul class="list-unstyled">

      <li class="mt-3"><strong>We are a large wholesale supplier</strong> of heating, ventilating and air conditioning (HVAC) products selling to regional contractors and industries. Our vast warehouse contains many parts that you can’t find elsewhere. We are a member of the BlueHawk coop and it allows us to purchase parts that we don’t normally stock.</li>

      <li class="mt-3"><strong>We engineer and fabricate</strong> many custom HVAC parts and equipment.</li>

      <li class="mt-3"><strong>Job site and shop deliveries</strong> are part of our daily schedule. We make regular deliveries to the Tri-State area.</li>

    </ul>

    <a href="/about/" class="btn btn-lg btn-outline-primary align-self-center my-4">about us</a>

  </div>

</section>

<section class="row" id="services">

  <div class="col-md-12 d-flex justify-content-center align-items-center mb-5" id="services-header">

    <div class="col-md-8 text-center">

      <h2 class="text-white">Commercial, Light Industrial<br /> and Residential</h2>

    </div>

  </div>

  {% include serviceCard.html %}

  <div class="col-md-12 my-5 text-center">

    <a href="/products/" class="btn btn-lg btn-outline-primary">our product lines</a>

  </div>

</section>

<section class="row" id="fabrication">

  <div class="col-md-12 d-flex justify-content-center align-items-center mb-5" id="fabrication-header">

    <div class="col-md-8 text-center">

      <h2 class="text-white">Custom Fabrication</h2>

    </div>

  </div>

  <div class="col-md-8 offset-md-2 text-center">

    <p>
      Throughout our years of steady growth, we have made it a priority to update and enhance our fabrication equipment, keeping our edge on technology while furnishing a high quality product at competitive prices.Our staff uses computer-aided design software and state-of-the-art equipment and can fabricate any size job.
    </p>

    <h4 class="mt-5">We excel at the oddball stuff.  Your odd is our norm.  We can build to your exact specifications and needs and deadlines.  Our large in house inventory allows us to manufacture parts with a quick turn around.</h4>

    <a href="/contact/" class="btn btn-lg btn-outline-primary my-5">contact us</a>

  </div>

  <div class="col-md-10 offset-md-1 text-center">

    {% include lightboxGallery.html %}

  </div>

</section>
