---
layout: default
title: Home
---
<section class="row justify-content-center align-items-center" id="hero">

  <div class="col-md-6 col-lg-5 bg-danger py-3 px-5 d-flex flex-column align-items-center ">

    <h1 class="text-uppercase text-primary text-center">for all your hvac <br />supply needs.</h1>

    <a href="/about/" class="btn btn-lg btn-outline-primary">about us</a>

  </div>

</section>

<section class="row" id="services">

  <div class="col-md-12 d-flex justify-content-center align-items-center mb-5" id="services-header">

    <div class="col-md-8 text-center">

      <h2 class="text-white">Commercial, Light Industrial<br /> and Residential</h2>

    </div>

  </div>

  {% include serviceCard.html %}

  <div class="col-md-12 my-5 text-center">

    <a href="/products/" class="btn btn-lg btn-outline-primary">our product lines</a>

  </div>

</section>

<section class="row" id="fabrication">

  <div class="col-md-12 d-flex justify-content-center align-items-center mb-5" id="fabrication-header">

    <div class="col-md-8 text-center">

      <h2 class="text-white">Custom Fabrication</h2>

    </div>

  </div>

  <div class="col-md-8 offset-md-2 text-center">

    <p>
      Throughout our years of steady growth, we have made it a priority to update and enhance our fabrication equipment, keeping our edge on technology while furnishing a high quality product at competitive prices.Our staff uses computer-aided design software and state-of-the-art equipment and can fabricate any size job.
    </p>

    <h4 class="mt-5">We excel at the oddball stuff.  Your odd is our norm.  We can build to your exact specifications and needs and deadlines.  Our large in house inventory allows us to manufacture parts with a quick turn around.</h4>

    <a href="/contact/" class="btn btn-lg btn-outline-primary my-5">contact us</a>

  </div>

  <div class="col-md-10 offset-md-1 text-center">

    {% include lightboxGallery.html %}

  </div>

</section>
