<footer class="row p-0 m-0">

  <div id="main-footer">

    <div class="col-sm-10 offset-sm-1">

      <ul class="nav flex-column flex-sm-row">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}{% link index.html %}">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}{% link about.html %}">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}{% link products.html %}">product lines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}{% link contact.html %}">contact</a>
        </li>
      </ul>

      <ul id="footer-address" class="text-white">
        <li>1219 S. 2nd Street</li>
        <li>Clinton, IA 52732</li>
        <li><a href="tel:1-563-242-4994">(563) 242-4994</a></li>
      </ul>
      
    </div>

  </div>

  <div id="copyright" class="col-sm-12 d-flex justify-content-center align-items-center">

    <h6 class="text-uppercase text-primary">&copy;{{ site.time | date: '%Y' }} {{ site.title }}</h6>

  </div>

</footer>
