<a href="images/gallery/holding-area.jpg" data-lightbox="fabrication" data-alt="spiral duct work in holding area">
  <img src="/images/gallery/holding-area-thumb.jpg" class="m-3" alt="spiral duct work thumbnail" />
</a>

<a href="images/gallery/square-duct.jpg" data-lightbox="fabrication" data-alt="square duct work in holding">
  <img src="/images/gallery/square-duct-thumb.jpg" class="m-3" alt="square duct work thumbnail" />
</a>

<a href="images/gallery/duct-hood.jpg" data-lightbox="fabrication" data-alt="duct hood">
  <img src="/images/gallery/duct-hood-thumb.jpg" class="m-3" alt="duct hood thumbnail" />
</a>

<a href="images/gallery/small-spiral.jpg" data-lightbox="fabrication" data-alt="small spiral ducts">
  <img src="/images/gallery/small-spiral-thumb.jpg" class="m-3" alt="small spiral ducts thumbnail" />
</a>

<div class="w-100 d-none d-lg-block"></div>

<a href="images/gallery/storage-area.jpg" data-lightbox="fabrication" data-alt="storage area">
  <img src="/images/gallery/storage-area-thumb.jpg" class="m-3" alt="storage area thumbnail" />
</a>

<a href="images/gallery/shop-floor.jpg" data-lightbox="fabrication" data-alt="shop floor and machinery">
  <img src="/images/gallery/shop-floor-thumb.jpg" class="m-3" alt="shop floor thumbnail" />
</a>

<a href="images/gallery/duct-machine.jpg" data-lightbox="fabrication" data-alt="duct making machine">
  <img src="/images/gallery/duct-machine-thumb.jpg" class="m-3" alt="duct machine thumbnail" />
</a>

<a href="images/gallery/sheet-metal-rolls.jpg" data-lightbox="fabrication" data-alt="sheet metal rolls">
  <img src="/images/gallery/sheet-metal-rolls-thumb.jpg" class="m-3" alt="sheet metal rolls thumbnail" />
</a>
