h2 {
  font-size: 4.375rem;
  font-weight: 700;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.5rem;
}

.navbar {
  background: url("/images/metal.jpg") bottom no-repeat;
  height: 240px;

  .navbar-nav {
    .nav-item {
      .nav-link {
        color: $danger;
        text-transform: uppercase;
        font-size: 1.375rem;
        margin-right: 30px;
      }
    }
  }

  .navbar-toggler {
    color: $danger;
  }
}

footer {
  #main-footer {
    background: url("/images/metal-flipped.jpg") top no-repeat;
    height: 240px;
    padding-top: 80px;
    ul {
      list-style: none;
      text-align: right;
      li {
        text-transform: uppercase;
        font-size: 1.375rem;
      }
    }
  }
  .nav-link {
    color: $danger;
    text-transform: uppercase;
    font-size: 1.375rem;
    margin-right: 30px;
  }
  #copyright {
    background: -webkit-linear-gradient(118deg, #c9c7c7 45%, #ffffff 55%);
    background: -moz-linear-gradient(118deg, #c9c7c7 45%, #ffffff 55%);
    background: -o-linear-gradient(118deg, #c9c7c7 45%, #ffffff 55%);
    background: -ms-linear-gradient(118deg, #c9c7c7 45%, #ffffff 55%);
    background: linear-gradient(-28deg, #c9c7c7 45%, #ffffff 55%);
    height: 45px;
    }
  }

.btn {
  font-family: $font-family-serif;
}

#hero {
  background-image: url("/images/hero.jpg");
  min-height: 75vh;
  h1 {
    font-size: 3.4375rem;
    font-weight: 500;
  }
}

@mixin blueprint-bg {
  background: url("/images/blueprint-bg.png") no-repeat;
  background-size: cover;
}

#services {
  @include blueprint-bg;
}

.serviceCard {
  border-width: 10px;
  border-radius: 0;
  border-color: $primary;
  border-style: solid;
  padding: 60px 80px;
  h3 {
    color: $secondary;
    font-weight: 700;
  }
}

@mixin header($image-path) {
  background: url($image-path) top no-repeat;
  background-size: cover;
  min-height: 400px;
}

#services-header {
  @include header("/images/blueoverlay-shelves.png");
}

#fabrication-header {
  @include header("/images/purpleoverlay-workers.png");
}

#fabrication {
  p {
    font-size: 1.5rem;
  }
  h4 {
    color: $secondary;
    font-weight: 700;
  }
}

#about {
    @include blueprint-bg;
}

#about-header {
  @include header("/images/purpleoverlay-buildings.png");
}

#about-middle {
  background-color: $light-gray;
}
