h2 {
  font-weight: 700;
  font-size: 3rem;
  @include media-breakpoint-up(md) {
    font-size: 4.375rem;
  }
}

h3 {
  font-size: 1.5rem;
  @include media-breakpoint-up(md) {
    font-size: 2.25rem;
  }
}

h4 {
  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
  }
}

.navbar {
  background: url("/images/metal.jpg") bottom no-repeat;
  background-size: cover;
  min-height: 240px;
  @include media-breakpoint-up(lg) {
    padding: 0 50px;
  }
  .navbar-toggler {
    border-color: $danger;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$danger}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}
.nav-link {
  color: $danger;
  text-transform: uppercase;
  font-size: 1rem;
  margin-right: 30px;
  @include media-breakpoint-up(md) {
    font-size: 1.375rem;
  }
}
.nav-link:hover {
  color: $light-gray;
}
#navbar-phone {
  background: linear-gradient(
    to right,
    rgba(white, 1.0),
    rgba(#c9c7c7, 1.0) 
  )
  ;
  font-size: 1.875em;
  padding: 10px 30px;
  position: absolute;
  top: 0px;
  right: 90px;
  a {
    text-decoration: none;
  }
  a:hover {
    color: $info;
  }
}
#navbar-phone-sm {
  background: linear-gradient(
    to right,
    rgba(white, 1.0),
    rgba(#c9c7c7, 1.0) 
  )
  ;
  font-size: 1.875em;
  padding: 10px 30px;
  width: 100%;
  a {
    text-decoration: none;
  }
  a:hover {
    color: $info;
  }
}
.navbar-collapse.show {
  background: rgba($primary, 0.7);
  padding-left: 15px;
}

footer {
  #main-footer {
    background: url("/images/metal-flipped.jpg") top no-repeat;
    background-size: cover;
    min-height: 240px;
    padding-top: 80px;
    width: 100%;
    ul {
      list-style: none;
      li {
        text-transform: uppercase;
        font-size: 1rem;
        @include media-breakpoint-up(md) {
          font-size: 1.375rem;
        }
      }
    }
    #footer-address {
      text-align: center;
      @include media-breakpoint-up(sm) {
        text-align: right;
      }
      a {
        color: white;
        text-decoration: none;
      }
      a:hover {
        color: $info;
      }
    }
  }
  #copyright {
    background: -webkit-linear-gradient(118deg, #c9c7c7 45%, #ffffff 55%);
    background: -moz-linear-gradient(118deg, #c9c7c7 45%, #ffffff 55%);
    background: -o-linear-gradient(118deg, #c9c7c7 45%, #ffffff 55%);
    background: -ms-linear-gradient(118deg, #c9c7c7 45%, #ffffff 55%);
    background: linear-gradient(-28deg, #c9c7c7 45%, #ffffff 55%);
    height: 45px;
    }
  }

.btn {
  font-family: $font-family-serif;
}

#hero {
  background-image: url("/images/hero.jpg");
  min-height: 75vh;
  h1 {
    font-size: 3.4375rem;
    font-weight: 500;
  }
}

@mixin blueprint-bg {
  background: url("/images/blueprint-bg.png"); 
  background-size: 100%, cover;
}

#services {
  @include blueprint-bg;
}

.serviceCard {
  border-width: 10px;
  border-radius: 0;
  border-color: $primary;
  border-style: solid;
  padding: 30px 40px;
  @include media-breakpoint-up(md) {
    padding: 60px 80px;
  }
  h3 {
    color: $secondary;
    font-weight: 700;
  }
}

@mixin header($image-path) {
  background: url($image-path) top no-repeat;
  background-size: cover;
  min-height: 400px;
}

#services-header {
  @include header("/images/blueoverlay-shelves.png");
}

#fabrication-header {
  @include header("/images/purpleoverlay-workers.png");
}

#fabrication {
  p {
    font-size: 1.5rem;
  }
  h4 {
    color: $secondary;
    font-weight: 700;
  }
}

#about {
    @include blueprint-bg;
}

#about-header {
  @include header("/images/purpleoverlay-buildings.png");
}

#about-middle {
  background-color: $light-gray;
}

#product-header {
  @include header("/images/blueoverlay-shelves.png");
}

#product-lines {
  @include blueprint-bg;
}

#contact-header {
  @include header("/images/blueoverlay-shelves.png");
}

#contact-list {
  background-color: $light-gray;
}

.carousel-item img {
  @include media-breakpoint-up(md) {
    margin: 0 20px;
  }
}