//Colors
$primary:   #00265f; //deep indigo
$secondary: #1852a4; //lighter indigo
$danger:    #f5eb23; //bright yellow
$info:      #0092d6; //blue

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
